@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: "white";
    --text: "black";
    --border: "rgb(59 130 246)";
    --box: "rgb(59 130 246)";
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: "black";
        --text: "white";
        --border: "white";
        --box: "#750E21"
    }
}