@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make sure these colors are in sync with themes.tsx */

:root {
    --bg: "white";
    --text: "black";
    --border: "#133C55";
    --box: "#8DA9C4";
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: "#0B2545";
        --text: "white";
        --border: "#8DA9C4";
        --box: "#134074";
    }
}